/* Define margens para o container principal do componente hero */
.hero {
    margin: 0px 120px;      /* Margem horizontal de 120px */
    margin-top: 270px;      /* Margem superior de 270px */
}

/* Estiliza o texto dentro do componente hero */
.hero-text {
    color: #FFF;            /* Cor do texto branco */
    font-size: 110px;       /* Tamanho da fonte grande (110px) */
    font-weight: 500;       /* Peso da fonte médio */
    line-height: 130px;     /* Altura da linha para espaçamento */
}

/* Estiliza a seção "explore" do componente hero */
.hero-explore {
    display: flex;          /* Usa flexbox para o layout */
    align-items: center;    /* Alinha os itens ao centro verticalmente */
    gap: 50px;              /* Espaço entre os itens de 50px */
    width: fit-content;     /* Largura ajustada ao conteúdo */
    margin-top: 70px;       /* Margem superior de 70px */
    padding: 5px 8px;       /* Padding interno */
    padding-left: 30px;     /* Padding adicional à esquerda */
    border-radius: 60px;    /* Bordas arredondadas */
    background-color: white; /* Fundo branco */
    cursor: pointer;        /* Aponta o cursor para indicar que é clicável */
}

/* Estiliza o parágrafo dentro da seção "explore" */
.hero-explore p {
    color: #292929;         /* Cor do texto */
    font-size: 20px;        /* Tamanho da fonte */
    font-weight: 500;       /* Peso da fonte */
}

/* Define o layout para a seção de pontos e botão de reprodução */
.hero-dot-play {
    margin: 120px;          /* Margem de 120px em todas as direções */
    display: flex;          /* Usa flexbox para o layout */
    justify-content: space-between; /* Espaça os itens igualmente */
}

/* Estiliza a lista de pontos de navegação */
.hero-dots {
    display: flex;          /* Usa flexbox para o layout */
    align-items: center;    /* Alinha os itens ao centro verticalmente */
    gap: 23px;              /* Espaço entre os pontos */
    list-style: none;       /* Remove os marcadores de lista */
}

/* Estiliza cada ponto individualmente */
.hero-dot {
    width: 15px;            /* Largura do ponto */
    height: 15px;           /* Altura do ponto */
    background-color: #fff; /* Cor de fundo branca */
    border-radius: 7.5px;   /* Bordas arredondadas */
    cursor: pointer;        /* Aponta o cursor para indicar que é clicável */
}

/* Estiliza os pontos ativos com cor laranja */
.hero-dot.orange {
    background: orangered;  /* Cor de fundo laranja */
}

/* Estiliza a seção de controle de reprodução */
.hero-play {
    display: flex;          /* Usa flexbox para o layout */
    align-items: center;    /* Alinha os itens ao centro verticalmente */
    gap: 30px;              /* Espaço entre os itens */
}

/* Estiliza o parágrafo dentro da seção de reprodução */
.hero-play p {
    color: white;           /* Cor do texto branca */
    font-size: 19px;        /* Tamanho da fonte */
}